<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
        <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-databricks-index") %>>
        <a href="/docs/providers/databricks/index.html">Databricks Provider</a>
        </li>

        <li<%= sidebar_current("docs-databricks-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-databricks-datasource-cluster") %>>
              <a href="/docs/providers/databricks/d/databricks_cluster.html">databricks_cluster</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-databricks-resource") %>>
        <a href="#">Resources</a>
        <ul class="nav nav-visible">
          <li<%= sidebar_current("docs-databricks-resource-cluster") %>>
            <a href="/docs/providers/databricks/r/databricks_cluster.html">databricks_cluster</a>
          </li>

          <li<%= sidebar_current("docs-databricks-resource-group") %>>
            <a href="/docs/providers/databricks/r/databricks_group.html">databricks_group</a>
          </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
